*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;;
}

body{
    height: 100%;
    width: 100%;
    background-color: #EDF1F7;
} 
#container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col1{
    height: 85vh;
    flex: 0.05;
    margin: 1vh;
    border-radius: 2.25vh ;
    background-size: cover;
    background-color: #275ABD;
    background-position: -200px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.sidebar ul{
    margin-top:  10px;
    margin-left: -30px;
    width: auto;
    text-align: center;;
    list-style: none;
}
.sidebar img
{
    border-radius: 4vh;
}
.sidebar button{
    border: none;
    background-color: #275ABD;
    width: 100%;
}
.sidebar button:hover{
    transition: all 1s;
    background-color: grey;
    color: #000;
}
#selected{
    font-weight: 600;
}
.sidebar a{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    background-color: none;
    
}

.col2{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #000;
    flex: 0.93;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

#btn-add{
    width: 5vh;
    height: 5vh;
    border-radius: 100%;
}

#modal::backdrop{
    background-color: rgba(0, 0, 0, .55);
}

#modal{
    margin-left: 72vh;
    margin-top: 30.5vh;
    background-color: #275ABD;
    
}
#modal input{
    border: none;
    margin-left: 14vh;
    margin-right: 14vh;
    width: 35vh;
    border-radius: 0.3vh;
    height: 3vh;
    padding: 0 10px;
    font-size: 16px;
    outline:#275ABD 1px solid
}
#modal h1{
    text-align: center;;
    color: #EDF1F7;
    font-weight:bold;
}
#btn_add_modal{
    border: none;
    margin-left: 28.5vh;
    margin-right: 28.5vh;
}
#modal p{
    text-align: center;;
    color: #EDF1F7;
    margin: 0;
    margin-bottom: 2vh;
}  
#btn_cerra_modal{
    margin-left: 60.3vh;
    padding-left: 1vh;
    padding-right: 1vh;
}
#btn_add_modal{
    padding: 1vh;
}